'.source.alfred.en':
  # Instruction: SAY
  'Print a message':
    prefix: 'Say'
    body: 'Say ${1:message}'
  # Instruction: GO TO
  'Jump to the designated label':
    prefix: 'Go to'
    body: 'Go to ${1:label}'
  'Define a label':
    prefix: 'Remember this moment as'
    body: 'Remember this moment as ${1:label}'
  # Instrution: LEARN
  'Import a library':
    prefix: 'Learn about'
    body: 'Learn about ${1:library}'
  'Import a library ':
    prefix: 'Learn to'
    body: 'Learn to ${1:library}'
  # Instrution: SHOW / RUN
  'Run a library':
    prefix: 'Run'
    body: 'Run ${1:library}'
  'Show the result of running a library':
    prefix: 'Show'
    body: 'Show ${1:library}'
  # Instrution: DEFINE
  'Show the value of a variable':
    prefix: 'Show the value of'
    body: 'Show the value of ${1:variable}'
  'Define the value of a variable':
    prefix: 'Define'
    body: 'Define ${1:variable} as ${2:value}'
  'Temporary variable':
    prefix: 'above'
    body: 'above'
  # Instruction: BYE
  'Halt the program':
    prefix: 'Bye'
    body: 'Bye ${1:Alfred}'
  'Correct exit code':
    prefix: 'Alfred'
    body: 'Alfred'
