'.source.alfred.es':
  # Token: Start
  'Inicio del programa':
    prefix: 'Alfred'
    body:   'Alfred'
  # Instruction: Print
  'Muestra un mensaje por consola':
    prefix: 'Escribe'
    body:   'Escribe ${1:mensaje}'
  # Instruction: Goto
  'Salta al momento':
    prefix: 'Vete a'
    body:   'Vete a ${1:momento}'
  'Salta al momento ':
    prefix: 'Salta a'
    body:   'Salta a ${1:momento}'
  # Instruction: Define Label
  'Define un momento':
    prefix: 'Define el momento'
    body:   'Define el momento ${1:momento}'
  # Instruction: Define Variable
  'Define una variable':
    prefix: 'Define'
    body:   'Define ${1:variable} como ${2:valor  }'
  # Instrution: Show
  'Muestra una variable':
    prefix: 'Muestra'
    body:   'Muestra ${1:variable}'
  # Instrution: Show Value
  'Muestra el valor de una variable':
    prefix: 'Muestra el valor de'
    body:   'Muestra el valor de ${1:variable}'
  # Instruction: Exit
  'Detiene el programa':
    prefix: 'Adios Alfred'
    body: 'Adios Alfred'
