html,body
  width: 100%
  height: 100%
  overflow: hidden
  padding: 0
  margin: 0
.modal
  z-index: $max-zindex
  position: fixed
  right: 20px
  bottom: -500px
  width: 300px
  transition: 1.5s
  background: #fff
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  border-radius: 5px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
.modal h2
  color: $red-strawberry
.modal h2:first-letter
  text-transform: uppercase
.modal form
  width: 80%
.modal label
  color: #444
  float: left
  width: 100%
  margin-bottom: 5px
  font-weight: 300
.modal input, .modal select
  width: 100%
  margin-bottom: 20px
  border: 1px solid #333
  color: #444
  padding: 3px 7px
  border-radius: 2px
.modal button
  width: 100%
  height: 30px
  margin-bottom: 30px
  background-color: $red-strawberry
  border: none
  color: $gray-notwhite
  border-radius: 3px

