name: 'Alfred (EN)'
scopeName: 'source.alfred.en'
fileTypes: ['alf']
patterns: [
  # Constants
  {
    match: '\\b([AÁÀÄÂaáàäâ][Ll][Ff][Rr][EÉÈËÊeéèëê][Dd])\\b'
    name: 'support.constant.alfred'
  },
  {
    match: '\\b([AÁÀÄÂaáàäâ][Bb][OÓÒÖÔoóòöô][Vv][EÉÈËÊeéèëê])\\b'
    name: 'support.constant.alfred'
  }
  # Single instructions
  {
    match: '\\b([Bb][Yy][EÉÈËÊeéèëê])\\b'
    name: 'keyword.control.alfred'
  },
  # Variables
  {
    match: '([Dd][EÉÈËÊeéèëê][Ff][IÍÌÏÎiíìïî][Nn][EÉÈËÊeéèëê])\\s+(.*)\\s+([AÁÀÄÂaáàäâ][Ss])'
    captures:
      '1':
        name: 'storage.modifier.alfred'
      '2':
        name: 'support.type.alfred'
      '3':
        name: 'storage.type.alfred'
    name: 'meta.function.alfred'
  },
  {
    match: '([Ss][Hh][OÓÒÖÔoóòöô][Ww])\\s+([Tt][Hh][EÉÈËÊeéèëê]\\s+[Vv][AÁÀÄÂaáàäâ][Ll][UÚÙÜÛuúùüû][EÉÈËÊeéèëê]\\s+[OÓÒÖÔoóòöô][Ff])\\s+(.+)'
    captures:
      '1':
        name: 'storage.type.alfred'
      '2':
        name: 'keyword.control.alfred'
      '3':
        name: 'support.type.alfred'
    name: 'meta.function.alfred'
  },
  # Lib/Module Instructions
  {
    match: '([Ll][EÉÈËÊeéèëê][AÁÀÄÂaáàäâ][Rr][Nn]\\s+\\w+)\\s+(.+)'
    captures:
      '1':
        name: 'storage.type.alfred'
      '2':
        name: 'support.class.alfred'
    name: 'meta.function.alfred'
  },
  {
    match: '([Rr][UÚÙÜÛuúùüû][Un])\\s+(.*)'
    captures:
      '1':
        name: 'storage.type.alfred'
      '2':
        name: 'variable.parameter.alfred'
    name: 'meta.function.alfred'
  },
  {
    match: '([Ss][Hh][OÓÒÖÔoóòöô][Ww])\\s+(.*)'
    captures:
      '1':
        name: 'storage.type.alfred'
      '2':
        name: 'variable.parameter.alfred'
    name: 'meta.function.alfred'
  },
  # Logs
  {
    match: '([Ss][AÁÀÄÂaáàäâ][Yy])\\s+(.+)'
    captures:
      '1':
        name: 'keyword.control.alfred'
      '2':
        name: 'string.quoted.alfred'
    name: 'meta.function.alfred'
  },
  # Conditionals and jumps
  {
    match: '([Gg][OÓÒÖÔoóòöô]\\s+[Tt][OÓÒÖÔoóòöô])\\s+(.+)'
    captures:
      '1':
        name: 'keyword.control.alfred'
      '2':
        name: 'variable.other.alfred'
    name: 'meta.function.alfred'
  },
  {
    match: '([Rr][EÉÈËÊeéèëê][Mm][EÉÈËÊeéèëê][Mm][Bb][EÉÈËÊeéèëê][Rr]\\s+[Tt][Hh][IÍÌÏÎiíìïî][Ss]\\s+[Mm][OÓÒÖÔoóòöô][Mm][EÉÈËÊeéèëê][Nn][Tt]\\s+[AÁÀÄÂaáàäâ][Ss])\\s+(.+)'
    captures:
      '1':
        name: 'keyword.control.alfred'
      '2':
        name: 'variable.other.alfred'
    name: 'meta.function.alfred'
  }
]
