include includes/modal

doctype html
html
    head
        title Alfred
        meta(charset="utf-8")

        script(src="js/fontawesome.min.js")
        link(rel="stylesheet" href="css/alfred.min.css")
    body
        include includes/canvas
        - newNode = { id: 'newNode', title: "add node", opts: [ { label: 'Work name', name: 'work', itype: 'select', options: ['Port Scan','Whois'] } ] }

        +modal(newNode)
        
        script(src="../build/alfred.js")
        // script(src="js/alfred.min.js")