include includes/modal

doctype html
html
    head
        title Alfred
        meta(charset="utf-8")

        script(src="js/fontawesome.min.js")
        link(rel="stylesheet" href="css/alfred.min.css")
    body
        // include includes/windowbar
        include includes/canvas

        // Modals
        -
            modals = [
                { id: 'modalNewNode', title: "Add node", opts: [ { label: 'Work name', name: 'work', itype: 'select', options: ['Port Scan','Whois'] } ] },
                { id: 'modalPortScan', title: "Scan ports", opts: [ { label: 'IPv4', name: 'ipv4', itype: 'ipv4', options: [] } ] }
            ]
        each modal in modals
            +modal(modal)
        
        script(src="js/alfred.min.js")