doctype 5
html(lang='es')
    head
        title Alfred!
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="assets/icons/icomoon.css")
    body
        section#sidemenu
            nav
                a.active(href="#") Item
                a(href="#") Item
                a(href="#") Item
                a(href="#") Item
        section#optionmenu
        div
            canvas#canvas(width="200" height="100")
        header

        script(src="js/canvas.js")
// https://www.youtube.com/watch?v=q3Wb_7Ec7dw

