doctype 5
html(lang='es')
    head
        title Alfred!
        link(rel="stylesheet" href="css/style.css")
    body
        .app-container
            .menu-container
                .title LOGO
                .element-container                
                    .menu#first
                        input#menu(type="checkbox")
                        label(for="menu") Ataque
                        .menu-content
                            ul
                                li Bruteforce
                                li Exploit
                                li SQL Injection
                    .menu
                        input#recon(type="checkbox")
                        label(for="recon") Reconocimiento
                        .menu-content
                            ul
                                li Harverster
                                li Escaneo de CMS
                                li Escaneo de Puertos
            .options-container
            .canvas-container

        script(src="js/canvas.js")
// https://www.youtube.com/watch?v=q3Wb_7Ec7dw

