/* ===============
    Color Palette
   =============== */
$gray-dark:         #EAEDF3;
$gray-light:        #F4F6F9;
$green-neon:        #92CF48;
$purple-dark:       #282639;
$purple-light:      #302D43;


$granate-normal:    #8C2A58;
$blue-smoothdark:   #1E1D40;
$blue-smotherdark:  #2A2649;
$blue-sky:          #BDD9F2;
$blue-sea:          #2646A6;
$blue-ocean:        #275AF2;
$blue-sea2:         #4c3d8d;
$rare-background:   #5F617C;